debian/files
debian/*log
debian/*.substvars
debian/.debhelper
debian/maratona-conflitos/
debian/maratona-desktop-latam/
debian/maratona-desktop/
debian/maratona-essential/
debian/maratona-usuario-icpc/
debian/maratona-flatpak-common/
debian/maratona-task-data/
