[Desktop Entry]
Version=1
Name=Python 2.7 Doc
Comment=Python 2.7 Doc
Exec=firefox /usr/share/doc/python2.7/html/index.html
Terminal=false
Type=Application
