[Desktop Entry]
Version=1
Name=C++ Reference
Comment=C++ Reference
Exec=firefox /usr/share/cppreference/doc/html/en/index.html
Terminal=false
Type=Application
