Source: maratona-meta
Section: metapackages
Priority: optional
Maintainer: Bruno Ribas <brunoribas@utfpr.edu.br>
Build-Depends: debhelper

Package: maratona-desktop
Architecture: all
Recommends: maratona-desktop-latam
Pre-Depends: maratona-essential
Depends: ssh, maratona-conflitos, maratona-background, maratona-usuario-icpc, maratona-firewall, maratona-submission, dconf-cli
Provides: maratona-linux-gconf-user-profile
Description: Pacote Virtual que transforma o Ubuntu em Maratona Linux
 Este pacote detém todas as dependências obrigatórias para transformar o
 ubuntu em uma versão controlada do ambiente da maratona.
 .
 Tenha cuidado ao instalar este pacote. Recomenda-se que seja instalado
 apenas nas máquinas que serão utilizadas na competição.

Package: maratona-conflitos
Architecture: all
Depends: dconf-cli
Description: Pacote do Maraton Linux com os conflitos para a maratona
 Este pacote além de remover alguns pacotes desnecessários para a maratona
 também desabilita o funcionamento do:
  - Acesso a usuário guest

Package: maratona-essential
Architecture: all
Depends: maratona-linguagens, maratona-editores, maratona-linguagens-doc
Description: Pacote Virtual com as dependências mínimas para o ambiente maratona
 Este pacote tem como dependência os pacotes com as linguagens, editores e
 documentação que podem ser utilizados na maratona.
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

Package: maratona-usuario-icpc
Pre-Depends: maratona-linguagens-doc, makepasswd
Depends: slay
Conflicts: maratona-skel
Architecture: all
Description: Pacote que cria um usuário icpc para o competidor da maratona
 Este pacote cria o usuário sem privilégios administrativos para competição.
 .
 Também é fornecido neste pacote alguns comandos admnistrativos:
   - zera-home-icpc : Apaga todos os arquivos do home do usuário icpc
      + este script é utilizado após o warmup para o home do usuário
      iniciar vazio durante a competição.

Package: maratona-desktop-latam
Architecture: all
Pre-Depends: gnome-dictionary
Depends: dictd, dict-freedict-eng-por, dict-freedict-eng-spa
Description: Pacote que adiciona o gnome-dictionary para o ambiente maratona
 Esse pacote cria um servidor dictd local, no qual o gnome-dictionary faz uso
 deste.
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

Package: maratona-task-data
Architecture: all
Depends: tasksel
Description: Pacote que adiciona o maratona-desktop à lista de tasks do tasksel
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.
