Source: maratona-meta
Section: metapackages
Priority: optional
Maintainer: Bruno César Ribas <bruno.ribas@unb.br>
Build-Depends: debhelper-compat (= 13)
Vcs-Git: https://github.com/maratona-linux/maratona-meta.git
Vcs-Browser: https://github.com/maratona-linux/maratona-meta

Package: maratona-desktop
Architecture: all
Recommends: maratona-desktop-latam, maratona-submission
Pre-Depends: maratona-essential
Depends: ssh, epiphany-browser, maratona-conflitos, maratona-background, maratona-usuario-icpc, maratona-firewall, dconf-cli
Provides: maratona-linux-gconf-user-profile
Description: Pacote Virtual que transforma o Ubuntu em Maratona Linux
 Este pacote detém todas as dependências obrigatórias para transformar o
 ubuntu em uma versão controlada do ambiente da maratona.
 .
 Tenha cuidado ao instalar este pacote. Recomenda-se que seja instalado
 apenas nas máquinas que serão utilizadas na competição.

Package: maratona-conflitos
Architecture: all
Depends: dconf-cli
Conflicts: snapd
Description: Pacote do Maratona com restrições para o ambiente
 Este desabilita o funcionamento do:
  - ssh para o usuário icpc
  - visualização da lista de usuários na tela de login
  - notificações do Ubuntu
 .
 Este pacote também remove o snapd, e por isso é recomendável que seja
 instalado apenas nas máquinas que serão usadas na competição.
 .
 A remoção completa (purge) do snapd, que também incluirá a desinstalação dos
 pacotes snap no sistema ocorrerá somente se houver a opção `purge` no momento
 da instalação do maratona-conflitos ou de algum pacote que dependa dele, como
 o maratona-desktop.
 .
 No Ubuntu 22.04, desinstalar o snapd completamente causa a remoção do
 firefox, da loja GNOME e da loja Snap.

Package: maratona-essential
Architecture: all
Depends: maratona-linguagens, maratona-editores, maratona-linguagens-doc
Description: Pacote Virtual com as dependências mínimas para o ambiente maratona
 Este pacote tem como dependência os pacotes com as linguagens, editores e
 documentação que podem ser utilizados na maratona.
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

Package: maratona-desktop-latam
Architecture: all
Pre-Depends: gnome-dictionary
Depends: dictd, dict-freedict-eng-por, dict-freedict-eng-spa, maratona-desktop
Description: Pacote que adiciona o gnome-dictionary para o ambiente maratona
 Esse pacote cria um servidor dictd local, no qual o gnome-dictionary faz uso
 deste.

Package: maratona-task-data
Architecture: all
Depends: tasksel
Description: Pacote que adiciona o maratona-desktop à lista de tasks do tasksel
 Este pacote instala uma task que instala o pacote maratona-desktop com
 dependência no pacote ubuntu-desktop-minimal.

Package: maratona-flatpak-common
Architecture: all
Depends: flatpak
Description: Pacote Virtual com a função de instalação flatpak do Maratona Linux
 Este pacote instala o flatpak e scripts usados pelo Maratona Linux para
 instalar programas empacotados nesse formato.

