#! /usr/bin/make -f

override_dh_auto_install:
	# Icones na pasta destinada a icones no /usr/share/icons
	mkdir -p debian/maratona-linguagens-doc/usr/share/icons/maratona-linguagens-doc/scalable/
	cp icons/* debian/maratona-linguagens-doc/usr/share/icons/maratona-linguagens-doc/scalable/

	# Criando atalhos do maratona-linguagens-doc em /usr/share/applications
	mkdir -p debian/maratona-linguagens-doc/usr/share/applications/
	cp icones-desktop/* debian/maratona-linguagens-doc/usr/share/applications/

	# Firefox copiado e renomeado
	mkdir -p debian/maratona-desktop/usr/share/applications/
	cp firefox.desktop debian/maratona-desktop/usr/share/applications/firefox_boca.desktop

	# Service para zerar home no reboot via systemd
	mkdir -p debian/maratona-usuario-icpc/lib/systemd/system/
	cp usuario-icpc-service/maratona-usuario-icpc.service debian/maratona-usuario-icpc/lib/systemd/system/

	mkdir -p debian/maratona-usuario-icpc/usr/sbin/
	cp scripts-administrativos/zera-home-icpc debian/maratona-usuario-icpc/usr/sbin/
	chmod a+x debian/maratona-usuario-icpc/usr/sbin/zera-home-icpc
	mkdir -p debian/maratona-usuario-icpc/usr/bin
	cp scripts-administrativos/clean-icpc-on-reboot debian/maratona-usuario-icpc/usr/bin/
	chmod a+x debian/maratona-usuario-icpc/usr/bin/clean-icpc-on-reboot


%:
	echo "$@"
	dh $@
