#! /usr/bin/make -f

override_dh_auto_install:
	# Arquivo para substituir o dicionario default.
	mkdir -p debian/maratona-desktop-latam/usr/share/gdict-1.0/sources/
	cp gdict/default.desktop debian/maratona-desktop-latam/usr/share/gdict-1.0/sources/

	mkdir -p debian/maratona-task-data/usr/share/tasksel/descs/
	cp maratona-task.desc debian/maratona-task-data/usr/share/tasksel/descs/

%:
	echo "$@"
	dh $@
