Source: maratona-submission
Section: misc
Priority: optional
Maintainer: Bruno Ribas <brunoribas@utfpr.edu.br>
Build-Depends: debhelper

Package: maratona-submission
Architecture: all
Pre-Depends: maratona-firewall
Depends: sharutils, wget, coreutils
Description: Pacote com o ambiente de submissão para o Boca central
