#! /usr/bin/make -f

override_dh_auto_install:
	mkdir -p debian/maratona-submission/usr/bin
	mkdir -p debian/maratona-submission/usr/sbin
	mkdir -p debian/maratona-submission/etc/cron.d
	cp boca-auth-runs debian/maratona-submission/usr/sbin/
	chmod a+x debian/maratona-submission/usr/sbin/boca-auth-runs
	cp boca-submit-run debian/maratona-submission/usr/bin/
	chmod a+x debian/maratona-submission/usr/bin/boca-submit-run
	cp boca-submit-run-cron debian/maratona-submission/usr/bin/
	chmod a+x debian/maratona-submission/usr/bin/boca-submit-run-cron
	cp boca-submit-run-aux debian/maratona-submission/usr/bin/
	chmod a+x debian/maratona-submission/usr/bin/boca-submit-run-aux
	gcc boca-submit-run-root-wrapper.c -o debian/maratona-submission/usr/bin/boca-submit-run-root-wrapper
	cp boca-submit-run-root debian/maratona-submission/usr/bin/
	chmod a+x debian/maratona-submission/usr/bin/boca-submit-run-root
	chmod 4555 debian/maratona-submission/usr/bin/boca-submit-run-root-wrapper
	cp cron-submit debian/maratona-submission/etc/cron.d/

%:
	dh $@
