Source: maratona-firewall
Section: misc
Priority: optional
Maintainer: Bruno Ribas <brunoribas@utfpr.edu.br>
Build-Depends: debhelper

Package: maratona-firewall
Architecture: all
Depends: iptables
Description: Pacote que isola o competidor da rede.
 Este pacote evita que pacotes de rede entrem e saiam do maratona-linux,
 exceto pelo acesso ao servidor BOCA.
 .
 Os comandos disponibilizados neste pacote, são:
  - ip-servidor-boca
  - habilita-firewall
  - desabilita-firewall
