#! /usr/bin/make -f

override_dh_auto_install:
	mkdir -p debian/maratona-firewall/usr/sbin/
	cp scripts-administrativos/config-ip-boca.sh debian/maratona-firewall/usr/sbin/config-ip-boca
	chmod a+x debian/maratona-firewall/usr/sbin/config-ip-boca
	cp scripts-administrativos/firewall.sh debian/maratona-firewall/usr/sbin/habilita-firewall
	chmod a+x debian/maratona-firewall/usr/sbin/habilita-firewall
	cp scripts-administrativos/firewall-stop.sh debian/maratona-firewall/usr/sbin/desabilita-firewall
	chmod a+x debian/maratona-firewall/usr/sbin/desabilita-firewall
	cp scripts-administrativos/config-proxy.sh debian/maratona-firewall/usr/sbin/config-proxy
	chmod a+x debian/maratona-firewall/usr/sbin/config-proxy


%:
	echo "$@"
	dh $@
