# Serviço do maratona-usuario-icpc para ser executado na
# inicialização da maquina verificando se deve ser feito a limpeza
# da home do usuario icpc.

[Unit]
Description=Maratona Zera Home ICPC Service

[Service]
Type=oneshot
User=root
ExecStart=/usr/sbin/zera-home-icpc

[Install]
WantedBy=multi-user.target
