#! /usr/bin/make -f

override_dh_auto_install:
	mkdir -p debian/maratona-skel/etc/skel/Desktop/
	cp icones-desktop/* debian/maratona-skel/etc/skel/Desktop/
	mkdir -p debian/maratona-usuario-icpc/usr/sbin/
	cp scripts-administrativos/zera-home-icpc debian/maratona-usuario-icpc/usr/sbin/
	chmod a+x debian/maratona-usuario-icpc/usr/sbin/zera-home-icpc


%:
	echo "$@"
	dh $@
