Source: maratona-background
Section: misc
Priority: optional
Maintainer: Bruno Ribas <brunoribas@utfpr.edu.br>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8

Package: maratona-background
Architecture: all
Description: Pacote com o background atualizado da Maratona
